<div class="allUser container col-sm-9">
		<h2> Cпиок пользователей GitHub </h2>
		<div class = "list-group">
			<div class = "row list-group-item list-group-item-info">
					<span class = "col-xs-1 col-sm-2">ID</span>
					<span class = "col-xs-4 col-sm-3">Логин</span>
					<span class = "col-xs-2 col-sm-2">Аватарка</span>
					<span class = "col-xs-5 col-sm-5">Email</span>
				</div>
				<a class = "row list-group-item" ng-repeat="item in users" ng-href="#/user/{{item.login}}">
					<span class = "col-xs-1 col-sm-2">{{ item.id }}</span>
					<span class = "col-xs-4 col-sm-3">{{ item.login }}</span>
					<span class = "col-xs-2 col-sm-2"><img src="{{ item.avatar_url }}" alt="аватар пользователя"></span>
				<span class = "col-xs-5 col-sm-5">{{ item.email }}</span>
				</a>
				<br>
				<span>
					<a ng-href="#/usersList/{{prevPage()}}">Назад</a> 
						<span class = "page">Стрфница:{{ page }}</span>
					<a ng-href="#/usersList/{{nextPage()}}">Вперед</a>
				</span>
			</div>
		</div>
	
	
	